USER_ID=0
GROUP_ID=0
LILA_DOMAIN=your-domain.example
LILA_URL=https://your-domain.example
COMPOSE_PROFILES=base,stockfish-play,stockfish-analysis,search,gifs,external-engine,push,thumbnails,email
MOCK_EMAIL=false
ENABLE_MONITORING=false
MAILER_PASSWORD=CHANGEME
